[push]
	default = simple
[alias]
	hist = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset' --graph -10 --branches --all
	co = checkout
	ci = commit
	st = status
	br = branch
	ahist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
[user]
	name = "Jake Moening"
	email = jmoening@unsignedbytes.com
[merge]
	tool = kdiff3
[mergetool]
	keepBackup = false
[mergetool "kdiff3"]
	path = "C:/Program Files/KDiff3/kdiff3.exe"
	trustExitCode = false
[diff]
	tool = kdiff3
[difftool]
	prompt = false
[difftool "kdiff3"]
	path = "C:/Program Files/KDiff3/kdiff3.exe"
	trustExitCode = false
[core]
	editor = vim
	autocrlf = input
	safecrlf = warn
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[gui]
[guitool "Rebase onto..."]
    cmd = git rebase $REVISION
    revprompt = yes
[guitool "Squash from..."]
	cmd = git merge $REVISION --squash
	revprompt = yes
[guitool "Tag release..."]
	cmd = git tag -a $ARGS -m\"Release $ARGS\"
	argprompt = yes
[guitool "No-FF merge from..."]
	cmd = git merge $REVISION --no-ff
	revprompt = yes
[guitool "Stash/Stash Current Workspace"]
    cmd = git stash
[guitool "Stash/Recover Stashed Workspace"]
	cmd = git stash pop
[guitool "Create Tracked Remote Branch..."]
	cmd = git push -u $ARGS 
	argprompt = yes
[pull]
	ff = only
